@use "@/styles/abstracts" as *;

.container {
    width: 100%;
    height: 100vh;
    @include flex(
        $direction: column,
        $justify: center,
        $wrap: wrap,
        $align-items: center
    )
}