@use "@/styles/abstracts" as *;

.container {
    @include flex(
        $justify: space-between,
        $wrap: wrap,
        $align-items: center
    );
    width: 100%;
    padding: $padding--lg;
    border: 1px solid $color--secondary;
    border-radius: 10px;
}

.buttons {
    @include flex(
        $justify: center,
        $wrap: nowrap,
        $align-items: center
    );
    gap: 10px;
}

.text {
    color: $color--primary;
}