.CardWithForm {
    &Card {
        width: 350px;
    }
    
    &CardHeader {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    &CardTitle {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    &CardDescription {
        font-size: 1rem;
        color: #6b7280;
    }
    
    &CardContent {
        width: 100%;
    }
    
    &Input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.375rem;
        border: 1px solid #d1d5db;
        background-color: #ffffff;
        color: #000000;
    }
    
    &Label {
        font-size: 1rem;
        color: #4b5563;
    }
    
    &CardFooter {
        display: flex;
        justify-content: space-between;
    }
    &Grid {
        display: grid;
        width: 100%;
        align-items: center;
        gap: 1rem;
    }
      
}

  