@use "@/styles/abstracts" as *;

.button {
  &--primary {
    background: $color--primary;
    padding: $padding--sm $padding--md;
    border: unset;
    border-radius: 15px;
    color: $color--background;
    background: $color--primary;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 15px;
      background-color: $color--background;
      z-index: -1;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      transition: all 250ms
    }
    &:hover {
      color: $color--primary;
    }
    &:hover::before {
      width: 100%;
    }
  }

  &--secondary {
    background: $color--secondary;
    padding: $padding--sm;
  }
}
