@use '@/styles/abstracts' as *;

.container {
    position: relative;
    width: 100%;
    overflow: auto;
}

.table {
    width: 100%;
    caption-side: bottom;
    font-size: rem(14);
    line-height: rem(20);
}